<div>
  <h1 class="fw-normal pb-3 mb-3">Welcome Back</h1>

  <h3 class="fw-normal mb-3 pb-3">Sign into your account</h3>

  <div class=" text-center">
    <span>Don't have an account? </span>
    <a routerLink="/register" class="font-medium no-underline text-blue-500 cursor-pointer">Create today!</a>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
  
    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="Your Email is .." formControlName="email" />
  
    <label for="password">Password:</label>
    <input type="password" id="password" placeholder="Your Password is .." formControlName="password" />
  
    <button type="submit">Sign In</button>

    <div class="toast show" *ngIf="login_failed">
      <div class="toast-header bg-danger">
        <strong class="me-auto">Error</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
      </div>
      <div class="toast-body">
        <p> Hello, No User found with this email and passwort</p>
      </div>
    </div>

  </form>

  
     
 
</div>