.mat-form-field{
  margin : 10px;  
}
.custom-card-content {
  padding: 16px; 
  background-color: #f5f5f5; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

form{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

mat-card{
    width: 500px;
    height: 500px;
}