
<div class="container" >
  <div class="surface-section">
    <div class="mb-3 fs-4">User Information</div>

    <mat-list>
      <mat-list-item>
        <div mat-line class="fw-bold">Name:</div>
        <div mat-line>{{ profil.Name }}</div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line class="fw-bold">Email:</div>
        <div mat-line>{{profil.Email }}</div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line class="fw-bold">Password:</div>
        <div mat-line>{{ profil.Password }}</div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line class="fw-bold">Role:</div>
        <div mat-line>{{profil.Role }}</div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line class="fw-bold">Tel:</div>
        <div mat-line>{{ profil.Tel }}</div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line class="fw-bold">Country:</div>
        <div mat-line>{{ profil.Country }}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
