
<div class="container" >
  <div class="surface-section">
    <div class="mb-3 fs-4">User Information</div>

    <mat-list>
      <mat-list-item>
        <div mat-line class="fw-bold">Name:</div>
        <div mat-line>{{ profil.name }}</div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line class="fw-bold">Email:</div>
        <div mat-line>{{profil.email }}</div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line class="fw-bold">Password:</div>
        <div mat-line>{{ profil.password }}</div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line class="fw-bold">Role:</div>
        <div mat-line>{{profil.role }}</div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line class="fw-bold">Tel:</div>
        <div mat-line>{{ profil.tel }}</div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line class="fw-bold">Country:</div>
        <div mat-line>{{ profil.country }}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
