<div class="container">
    <h3 class="fw-normal mb-3 pb-3">{{title}}</h3>
    <pre>{{registerForm.value |json}}</pre>
    
    <form class="form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" >

        <!-- name input -->
        <div class="form-field mb-3">
            <label for="name" class="form-label fw-bold">Name</label>
            <input id="name" class="form-control" type="text" placeholder="Your name" 
            [(ngModel)]="userInfo.name"   required
            name="name"  autofocus 
           >
            
        </div>
        <!-- Email input -->
        <div class="form-group mb-3">
            <label for="email" class="form-label fw-bold">Email</label>
            <input id="email" class="form-control" type="email" placeholder="Your email" 
            name="email"
            [(ngModel)]="userInfo.email"   required
            >
            
        </div>

        <!-- Password input -->
        <div class="form-group mb-3">
            <label for="password" class="form-label fw-bold">Password</label>
            <input id="password" class="form-control" type="password"  
            placeholder="Your password" name="password" [(ngModel)]="userInfo.password"   required>
        </div>


        <!-- Birthday input -->

        <div class="form-group mb-3">
            <label for="birthdate" class="form-label fw-bold">Date of Birth</label>
            <input id="birthdate" name="birthdate" class="form-control"  type="date" name="birthdate"
                [max]="dateToday | date: 'yyyy-MM-dd'" [(ngModel)]="userInfo.birthDate" required>
        </div>

        <!-- City input -->
        <div class="form-group mb-3">
            <label for="city" class="form-label fw-bold">City</label>
            <input id="city" name="city" class="form-control" type="text"  placeholder="Your city"
            [(ngModel)]="userInfo.city"   required>
        </div>

        <!-- Country input -->
        <div class="form-group mb-3">
            <label for="country" class="form-label fw-bold">Country</label>
            <input id="country" name="country" class="form-control" type="text" placeholder="Your country"
           name="country" [(ngModel)]="userInfo.country"   required>
        </div>

        <div class="form-group mb-3">
            <label for="role" class="form-label fw-bold">Roles</label>
            <select id="role" name="role" class="form-select" [(ngModel)]="userInfo.role"  required>
                <option value="admin">Admin</option>
                <option value="agent">Agent</option>
                <option value="user">User</option>
            </select>
        </div>

       
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                aria-describedby="registerCheckHelpText" required />
            <label class="form-check-label" for="registerCheck">
                I have read and agree to the terms
            </label>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Check this checkbox to continue.</div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary  mb-3" >
            Sign Up
        </button>

        <button type="button" class="btn btn-info  mb-3 ms-2" (click)="onCancel()">
           Cancel
        </button>
    </form>
    <pre>{{registerForm.value |json}}</pre>
</div>


