<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav" mr-auto>
      <li class="nav-item" >
        <a class="navbar-brand" routerLink="/" >Profil Manager</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/list-profil">Profil</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" (click)="logout()" >Logout</a>
      </li>          
    </ul>
  </div>
</nav> -->
  <mat-toolbar >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onDashboardClick()"> <mat-icon>dashboard</mat-icon> Dashboard</button>
  <button mat-menu-item (click)="onPeopleListClick()"> <mat-icon>people</mat-icon>List Profil</button>
</mat-menu>
    <span>My Profil Manager</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon "(click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
   
  </mat-toolbar>