<div class="container">


  <h1 class="m-4 fs-4 text-center">User Information</h1>



  <ul class="list-unstyled">
    <li class="border-top py-3">
      <div class="fw-bold">Name</div>
      <div>{{ authService.active_user.name }}</div>

    </li>
    <li class="border-top py-3">
      <div class="fw-bold">Email</div>
      <div>{{ authService.active_user.email }}</div>
    </li>
    <li class="border-top py-3">
      <div class="fw-bold">Password</div>
      <div>*************</div>

    </li>
    <li class="border-top py-3">
      <div class="fw-bold">Role</div>
      <div>{{ authService.active_user.role }}</div>

    </li>
    <li class="border-top py-3">
      <div class="fw-bold">Birthdate</div>
      <div>{{ authService.active_user.birthDate | date : 'EEEE, dd MMMM yyyy' }}</div>

    </li>
  </ul>

</div>