

<div mat-Dialog-title>
    <h1>Profil Form</h1>
</div>
<form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="contain">
        <div class="row">

            <mat-form-field appearance="outline">
                <mat-label>FullName:</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Your Full name is ..." required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email:</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Your email is ..." required>
                <mat-error *ngIf="email?.hasError('email')&& !email?.hasError('required')">
                    Email is <strong>Required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Password:</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Your password"
                    [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Phone number</mat-label>
                <input matInput formControlName="tel" required>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>Include area code</mat-hint>
                <mat-error *ngIf="tel?.hasError('required')">
                    Please enter a phone number
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Country:</mat-label>
                <input matInput type="text" formControlName="country" required>
            </mat-form-field>
        </div>



        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Select a Role:</mat-label>
                <mat-select matNativeControl required formControlName="role" required>

                    <mat-option>--</mat-option>
                    <mat-option value="admin">Admin</mat-option>
                    <mat-option value="agent">Agent</mat-option>
                    <mat-option value="user">User</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="row">

            <mat-label><b>Gender</b></mat-label>
            <mat-radio-group formControlName="gender" aria-label="Select an option">
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="male">Male</mat-radio-button>
            </mat-radio-group>

        </div>


        <div mat-dialog-actions class="action mt-4">
            <button mat-raised-button color="warn" (click)="onCancel()">cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="formEdit.invalid">Save</button>


        </div>

    </div>
</form>