<div>


    <form>

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" *ngIf="login_failed">
            <div class="toast-header bg-danger">

                <strong class="me-auto">Error</strong>

                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, No User found with this email and passwort
            </div>
        </div>

    </form>

</div>

<section>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card">

                <h1 class=" fw-normal pb-3 mb-3 text-center">Welcome Back </h1>

                <h3 class="fw-normal mb-3 pb-3 text-center">Sign into your account</h3>

                <div class="mb-3 text-center">

                    <span>Don't have an account? </span>
                    <a routerLink="/register" class="font-medium no-underline text-blue-500 cursor-pointer">Create
                        today!</a>
                </div>


                <form>

                    <div class="col-md-12 mb-4 pb-2">

                        <div class="form-outline">
                            <input type="email" id="emailAddress" name="email" class="form-control form-control-lg"
                                placeholder="Enter your Email" required #email />
                            <label class="form-label" for="emailAddress">Email</label>
                        </div>

                        <div class="form-outline">
                            <input type="tel" id="password" name="password" class="form-control form-control-lg"
                                placeholder="Enter password" required #password />
                            <label class="form-label" for="password">Password</label>
                        </div>

                    </div>

                    <div class="mt-4 pt-2">
                        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
                        &nbsp;
                        <button class="btn btn-danger"  (click)="onCancel()">Clear</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<mat-card>

</mat-card>